.panel {
    width: 250rem;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 20rem;
    text-transform: none;
}

.headerIcon {
    width: 20rem;
    height: 20rem;
    position: absolute;
    top: 8rem;
    left: 10rem;
    opacity: 0.95;
}

.headerText
{
    margin-left: -5rem;
}

.section {
    padding: 4rem 3rem 4rem 3rem;
    background-color: #00000011;
    color: #ffffffff;
    font-size: 12.5rem;
}

